.sliderContainer {
	position: relative;
	height: 485px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0; /* No vertical padding */
}

.sliderTrack {
	position: relative;
	width: 32px;
	height: 900%;
	background-color: transparent;
	border: 3px solid #29424d;
	border-radius: 16px;
}

.sliderFill {
	display: none;
}

.sliderThumb {
	position: absolute;
	height: 485px;
	left: 50%;
	transform: translateX(-50%);
	width: 24px;
	height: 24px;
	background-color: #29424d;
	border-radius: 50%;
	cursor: grab;
	transition: bottom 0.1s ease;
}

.marks {
	position: absolute;
	top: 0;
	right: -40px;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mark {
	display: flex;
	align-items: center;
}

.markLabel {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #29424d;
	transition: color 0.2s ease;
}

.activeMark .markLabel {
	color: #29424d;
	font-weight: 700;
}
