.wrapper {
	height: 100vh; /* Full viewport height */
	width: 100vw; /* Full viewport width */
	display: flex;
	justify-content: center;
	align-items: center;
	background: #f9f9f9; /* optional light background */
	user-select: none;
}

.sliderContainer {
	position: relative;
	height: 485px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px 0;
}

.sliderTrack {
	position: relative;
	width: 32px;
	height: calc(100% + 24px);
	background-color: transparent;
	border: 3px solid #29424d;
	border-radius: 16px;
	margin-top: 12px;
}

.sliderFill {
	display: none;
}

.sliderThumb {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 24px;
	height: 24px;
	background-color: #29424d;
	border-radius: 50%;
	cursor: grab;
	transition: bottom 0.1s ease;
}

.sliderThumb:active {
	cursor: grabbing;
}

.marks {
	position: absolute;
	right: -24px;
	height: calc(100% - 60px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 30px 0;
}

.mark {
	display: flex;
	align-items: center;
}

.markLabel {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #29424d;
	transition: color 0.2s ease;
}

.activeMark .markLabel {
	color: #29424d;
	font-weight: 700;
}
