.button {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 320px;
	border-radius: 24px;
	background-color: #29424d;
	border: 1px solid black;
	padding: 0 12px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: white;
	transition: all 0.3s ease;
	cursor: pointer;
}

.button:hover:not(.disabled) {
	background-color: #cdf06b;
	color: black;
	transform: translateY(-1px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
	flex: 1;
	text-align: center;
}

.icon {
	position: absolute;
	right: 12px;
	display: flex;
	align-items: center;
}

.outlined {
	background-color: transparent;
	border: 1px solid #2e2e30;
	color: #2e2e30;
}

.outlined:hover:not(.disabled) {
	background-color: #cdf06b;
	color: #29424d;
	transform: translateY(-1px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
