.survey-progress {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.survey-progress__title {
	font-family: "Roboto", sans-serif;
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
	color: #29424d;
}

.survey-progress__bars {
	display: flex;
	gap: 8px;
}

.survey-progress__bar {
	width: 40px;
	height: 7px;
	border-radius: 8px;
}

.survey-progress__bar--active {
	background-color: #29424d;
}

.survey-progress__bar--inactive {
	border: 2px solid #29424d;
}
