.accordionButton {
  width: 404px;
  height: 80px;
  text-align: left;
  padding: 1em;
  font-weight: bold;
  background: #cfc4f4;
  border: none;
  outline: none;
  border-radius: 24px;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.accordionContent {
  padding: 1em;
  color: black;
}

.accordionItem {
  margin-bottom: 8px;
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 18px;
  position: relative;
  text-align: left;
  box-sizing: border-box;
}

.subitem {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  font-size: 16px;
  gap: 12px;
  height: 64px;
  border-radius: 24px;
  margin-bottom: 8px;
  position: relative;
  box-sizing: border-box;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  right: 16px;
}

.circle.done {
  background-color: #fff;
  border: 1px solid #B2B2B2;
}

.circle.active {
  background-color: #fff;
  border: 1px solid #B2B2B2;
}

.circle.pending {
  background-color: #fff;
  border: 1px solid #B2B2B2;
  opacity: 0.5;
}

.activeSubitem {
  cursor: pointer;
  transition: background-color 0.2s ease;
  background-color: #F8F3EC;
}

.activeSubitem:hover {
  background-color: #F8F3EC;
}

.day {
  display: flex;
  border: 1px solid #999999;
  border-radius: 8px;
  padding: 2px 8px;
  font-weight: bold;
  margin-right: 8px;
  color: #999999;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  height: 25px;
}
.done {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 4px 8px;
  color: #b0b0b0;
}
.active {
  font-weight: bold;
  background: #f7f4ef;
  border-radius: 12px;
  padding: 4px 8px;
}

.pending {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #b0b0b0;
  padding: 4px 8px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 8px; /* space between title and arrow */
}

.arrow {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}

.checkmark {
  position: absolute;
  right: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

